/*Testimonial Section*/

.testimonial {
    position: relative;
    background-image: url(../images/background/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.testimonial.pd-y {
    padding: 0;
}

.testimonial .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 120px 0;
}

.testimonial-content {
    color: white;
    width: 90%;
    margin: auto;
}

.testimonial-item {
    width: 50%;
}


.testimonial-item .testimonial-toplayer {
    padding: 10px 2px 40px 100px;
    position: relative;
}

.testimonial-item .testimonial-toplayer img {

    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;

}

.testimonial-toplayer .testimonial-title {

    text-transform: capitalize;
    margin: 5px 0;
}


.testimonial-toplayer .testimonial-job {

    color: var(--main-color);
}

.testimonial-desc {
    line-height: 1.5;
    font-size: 17px;
}

/* Responsive */
@media (max-width: 768px) {
    .testimonial {
        height: auto;
    }

    .testimonial-content {
        flex-direction: column;
        gap: 20px;
    }

    .testimonial-item {
        width: 100%;
        float: none;
    }
}